

.container_img{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(130, 39, 38,0.8);
}

@media (max-width: 720px){
    .img{
        width: 90vw;
    }
}

.container_img_info{
    padding: 2em ;
    margin: 0 auto;
    background-image: url('/fundo.png');
    background-position: left bottom;
    background-size: cover;
}

.container_title{
    font-size: 3em;
    padding-bottom: 1em;
    color:  #822726;
    font-family:  'Cookie', cursive;
}

.container_icons{
    display: flex;
    gap: 2em;
    padding-bottom: 1em;
    font-size: 1em;
    
}

.historia{
    font-size: 1.1em;
    max-width: 600px;
    padding: 1em 0;
}

.valor_container{
    font-size: 2em;
    font-family:'ZCOOL XiaoWei', sans-serif; 
    color:  #822726;
    margin-bottom: 3em;
}

.valor{
    font-family:'ZCOOL XiaoWei', sans-serif; 
}

.botao_compra{
    padding: 0.5em 1em;
    margin: 2em;
    background-color: #822726;
    color: aliceblue;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Cookie', cursive;
    font-size: 2em;
}

.container_caracteristica{
    padding: 1.5em;
}

.caracteristica_title{
    font-size: 2em;
    font-family:'ZCOOL XiaoWei', sans-serif; 
    color:  #822726;
}

.caracteristica{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
   row-gap: 1.5em;
   column-gap: 2em;
}

.center_Loader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;

}